{% extends 'base.html.twig' %}

{% block title %} HoussArtGallery- Nos produits{% endblock %}

{% block body %}

<style>
.empty{
    height: 6rem;
}
.heading{
    font-family: 'roboto';
}
.info{
    background: lightyellow;
    
}
.card{
    box-shadow: 0 0 1rem #000;
}
</style>
<body>

	{% block login %}
		{% include "partials/_login.html.twig" %}
	{% endblock %}
    
<div class="container-fluid banner py-5">
    <div class="container">
        <div class="col-12 d-flex justify-content-center align-item-center empty my-4">
        </div> 
        <div class="col-12 d-flex justify-content-center align-items-center mt-5">
             <h1 class="heading fs-1 fw-bold mt-5">NOS PRODUITS</h1>
        </div>

        <div class="col-12 pt-5 text-warning">
            <h2 class="text-secondary fs-4">Il y'a {{ products.getTotalItemCount}} produits au total.</h2>
        </div>

        <div class="container">
            <div class="row d-flex justify-content-between align-items-center">
            {% for products in products %}
                <div class="col-sm-12 col-md-6 col-lg-4 my-3">
                    <div class="card h-100">
                        <img src="{{ vich_uploader_asset(products, 'imageFile') }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title fs-3 fw-bold ">{{ products.name }}</h5>
                            <p class="card-text fs-5">{{ products.property|slice(1, 100) ~ '...' }}</p>
                        </div>
                        <div class="d-flex justify-content-center align-items-center my-4">
                            <a href="{{ path('products.show', { id:products.id }) }}" class="btn btn-warning fs-4">Voir Le produit</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>

            <div class="pagination pagination-lg col-12 d-flex justify-content-center align-items-center fs-3 mb-4 py-5">
                {{ knp_pagination_render(products) }}
            </div>
        </div>
    </div>
</div>
</body>

{% endblock %}