<header>
	<div id="MenuBtn" class="fas fa-bars"></div>
	 <a class="navbar-brand" href="#"><img data-speed="5" class="homeParalexEffect" width="120px" height="70px"src="{{ asset('images/logo siteart.png') }}" alt=""></a>

	<nav class="navbar">
		<a href="{{ path('home.index') }}">HOME</a>
		<a href="{{ path('products.index.public')}}">NOS PRODUITS</a>
		<a href="{{ path('collection.index.public')}}">NOS COLLECTIONS</a>
		<a href="{{ path('about.index') }}">A PROPOS</a>
		<a href="{{ path('review.index.public') }}">REVIEWS</a>
		<a href="{{ path('contact.index') }}">NOUS CONTACTER</a>
	</nav>

	{% if app.user %}
		<div class="dropdown mx-4">
			<button class="btn dropdown-toggle fs-5 m-0" type="button" data-bs-toggle="dropdown" aria-expanded="true">
				Action
			</button>
			<ul class="dropdown-menu Action fs-5">
				{# <li>
					<a class="dropdown-item" href="{{ path('admin') }}">Dashboard</a>
				</li> #}
				<li>
					<a class="dropdown-item" href="{{ path('products') }}">Mes Produits !</a>
				</li>
				<li>
					<a class="dropdown-item" href="{{ path('products.new') }}">Nouveau Produit !</a>
				</li>
				<li>
					<a class="dropdown-item" href="{{ path('collection.index') }}">Mes collections</a>
				</li>
				<li>
					<a class="dropdown-item" href="{{ path('collection.new') }}">Nouvelle collection</a>
				</li>

				{% if is_granted('ROLE_ADMIN') %}
				<li>
					<a class="dropdown-item" href="{{ path('user.index') }}">Liste des utilisateurs</a>
				</li>
				<li>
					<a class="dropdown-item" href="{{ path('show.index') }}">MessagesContacts</a>
				</li>
				<li>
					<a class="dropdown-item" href="{{ path('review.index') }}">Avis de Contacts</a>
				</li>
				{% endif %}
			</ul>
		</div>
	{% endif %}


	{% if app.user %}
		<div class="dropdown">
			<button class="btn dropdown-toggle8 fs-5" type="button" data-bs-toggle="dropdown" aria-expanded="true">
				 {{ app.user.fullName}}
			</button>
			<ul class="dropdown-menu Action fs-5">
				{# <li>
					{% if 'ROLE_ADMIN' in app.user.roles %}
						<a class="dropdown-item" href="{{ path('admin') }}">ADMINISTRATION</a>
					{% endif %}
				</li>  #}
				<li>
					<a class="dropdown-item" href="{{ path('user.edit', {id : app.user.id}) }}">Modifier Identity</a>
				</li>
				<li>
					<a class="dropdown-item" href="{{ path('user.edit.password', {id : app.user.id}) }}">Modifier Password</a>
				</li>
				<li>
					<a class="dropdown-item" href="{{ path('security.logout') }}">Déconnexion</a>
				</li>
			</ul>
		</div>
	{% else %}

		<div id="LoginBtn">
			<button class="btn fs-4"><a class="dropdown-item" href="{{ path('security.login') }}"><i class="fas fa-user"></i>SignUp</a></button>
			
		</div>
	{% endif %}
</header>