{% extends 'base.html.twig' %}

{% block title %}HoussArtGallery - Détail Avis{% endblock %}

{% block body %}
    
<style>
    .banner{
        height:900px;
        background:linear-gradient(rgba(0, 0, 0,.5),rgba(0, 0, 0,.5)),url(https://cdn.pixabay.com/photo/2016/09/04/12/38/living-room-1643855_1280.jpg) center center fixed no-repeat;
        background-size:cover;
    }
    .banner img{
        border: solid #caa502 1rem;
        box-shadow: 0 0 1rem #000;
        border-radius: 50%;
        margin:0 0 15px 0;
    }
    .heading{
        margin: 15rem 0 0;
    }
    .content{
        border: solid 1px #fff;
        border-radius: 1rem;
    }
</style>

<!-- Review section Start -->
<body>
<div class="container-fluid banner">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 d-flex justify-content-center align-items-center">
                <h1 class="heading text-white py-4">DETAIL DE L'AVIS </h1>
            </div>
            <div class="col-12 d-flex justify-content-center align-items-center">
                <img src="{{ vich_uploader_asset(review, 'imageFile') }}" width="180px" height="180px">
            </div>
            <div class="col-12 d-flex justify-content-center align-items-center">
                <div class="content p-3 text-white fs-2">
                    <span class="fs-3">{{ review.nom }}</span>
                    <span class="fs-3">{{ review.prenom }}</span>
                    <p class="py-4 my-5">{{ review.message }}</p>
                    <span class="fs-4 text-info">{{ review.createdAt|date('d/m/Y') }}</span>
                    <h3 class="text-warning fs-1 fw-bold">Satisfait</h3>
                    <div class="stars text-danger">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>


{% endblock %}