{% extends 'base.html.twig' %}

{% block title %}HoussArtGallery - {{ post.title }}{% endblock %}

{% block body %}
    
<style>
    .banner{
        height: 100%;
        background:linear-gradient(rgba(0, 0, 0,.5),rgba(0, 0, 0,.5)),url(https://cdn.pixabay.com/photo/2016/09/04/12/38/living-room-1643855_1280.jpg) center center fixed no-repeat;
        background-size:cover;
    }
    .heading{
        margin: 15rem 0 0;
    }
    .banner .height{
        height: 20rem;
    }
</style>

<!-- Review section Start -->
<body>
<div class="container-fluid banner">
    <div class="container ">
        <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 height">
        </div>
        <div class="col-10 d-flex justify-content-center align-items-center my-5">
            <div class="card mb-3">
                <img src="{{ vich_uploader_asset(post, 'imageFile') }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h1 class="card-text fs-4"><small class="text-muted">Publié Le {{ post.createdAt|date('d/m/Y') }}</small></h1>
                    <h1 class="card-title">{{ post.title }}</h1>
                    <h3 class="card-title fw-bold">{{ post.slug }}</h3>
                    <p class="card-text fs-3">{{ post.content }}</p>
                    <p class="card-text fs-4"><small class="text-info">Dérnière Mise à jour {{ post.updatedAt|date('d/m/Y') }}</small></p>
                    <a href="{{ path('post.index.public')}}" class="btn btn-warning">Retour aux Articles</a>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
</body>


{% endblock %}