<div class="container-fluid banner1 py-5">
<div class="container my-5 d-flex justif-content-center align-items-center">
	<div class="row row-cols-1 row-cols-md-3 flex-wrap g-4">
		<div class="col-12">
			<h1 class="heading mb-5 text-center">AVIS DES CLIENTS
			</h1>
		</div>
		{% for review in review %}
			<div class="col-12 col-md-6 col-lg-3">
				<div class="box text-center text-white">
					<img src="{{ vich_uploader_asset(review, 'imageFile') }}" width="180px" height="180px">
					<div class="content">
						<span class="fs-3">{{ review.fullName }}</span>
						<p>{{ review.message|slice(0,100) ~ '...'}}</p>
						<h3>Satisfait</h3>
						<div class="stars text-danger fs-3">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
		
		<div class="col-12 d-flex justify-content-center align-items-center text-center my-5">
				<a href="{{ path('review.index.public')}}">VOIR TOUS LES AVIS</a>
				<a href="{{ path('review.new') }}"> LAISSEZ VOTRE AVIS</a>
		</div>
	</div>
</div>
</div>