{% extends "base.html.twig" %}

{% block title %} HoussArtGallery - Formulaire de contact{% endblock %}

{% block body %}

<style>
    .banner{
        height:100%;
        background:linear-gradient(rgba(0, 0, 0,.6),rgba(0, 0, 0,.6)),url(https://cdn.pixabay.com/photo/2016/09/04/12/38/living-room-1643855_1280.jpg) center center fixed no-repeat;
        background-size:cover;
        
    }

    hr{
    border: solid 1px #fff; 
    }

</style>

<body>

	{% block login %}
		{% include "partials/_login.html.twig" %}
	{% endblock %}

<div class="container-fluid banner py-5">

<!---    Contact form start   -->
    <div class="container my-5">
        <div class="row d-flex justify-content-center align-items-center my-5">
            <div class="col-sm-12 col-md-10 my-5">
            <div class="row my-5">
            </div>
                <div class="row my-5">
                    <h1 class="mt-5 text-center text-white fw-bold heading">FORMULAIRE DE CONTACT</h1>

                    {# Lire et afficher un message flash de type 'success' #}
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success mt-4">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
                <div class="row bg my-5">
                    {{ form_start(form) }}
                    <div class="form-group text-white fs-3">
                        {{ form_label(form.fullName, 'Nom / Prénom', {'label_attr': {'class': 'form-label mt-4 rounded-none'}}) }}
                        {{ form_widget(form.fullName, {'attr': {'class': 'form-control fs-4', 'minlength': 2, 'maxlength': 50}}) }}
                        {{ form_errors(form.fullName) }}
                    </div>

                    <div class="form-group text-white fs-3">
                        {{ form_label(form.email, 'Adresse email', {'label_attr': {'class': 'form-label mt-4'}}) }}
                        {{ form_widget(form.email, {'attr': {'class': 'form-control fs-4', 'minlenght': 2, 'maxlength': 180}}) }}
                        {{ form_errors(form.email) }}
                    </div>

                    <div class="form-group text-white fs-3">
                        {{ form_label(form.subject, 'Sujet', {'label_attr': {'class': 'form-label mt-4'}}) }}
                        {{ form_widget(form.subject, {'attr': {'class': 'form-control fs-4', 'minlength': 2, 'maxlength': 100}}) }}
                        {{ form_errors(form.subject) }}
                    </div>

                    <div class="form-group text-white fs-3">
                        {{ form_label(form.message, 'Message', {'label_attr': {'class': 'form-label mt-4'}}) }}
                        {{ form_widget(form.message, {'attr': {'class': 'form-control fs-4', 'minlength': 2, 'maxlength': 300}}) }}
                        {{ form_errors(form.message) }}
                    </div>

                    <div class="form-group text-white">
                        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-warning mt-4'}}) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <hr>
    </div>
    <!---    Contact form start   -->
    <!---    Article Pub start    -->
    <div class="container my-5">
        <h1 class="heading  text-white my-5">Pourquoi Choisir Nos Services ?</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4 my-5">
        <div class="col">
          <div class="card bg-transparent h-100">
            <img src="{{ asset('images/fondHome.jpg') }}" class="card-img-top img py-5" alt="...">
            <div class="card-body">
              <h5 class="card-title fs-2 text-warning fw-bold">Où l'art respire, l'âme s'inspire. </h5>
              <p class="card-text  text-center text-white fs-3">"Entre rêve et réalité, l'art s'éveille. Chaque œuvre, un univers à découvrir. Là où les émotions se croisent, l'inspiration prend vie. Votre galerie, le carrefour des imaginaires."</p>
            </div>
            <div class="card-footer text-center">
              <small class="text-info fs-5">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card bg-transparent h-100">
            <img src="{{ asset('images/fondHome.jpg') }}" class="card-img-top img py-5" alt="...">
            <div class="card-body">
              <h5 class="card-title fs-2 text-warning fw-bold">Unis dans l'excellence, créons l'exception</h5>
              <p class="card-text text-white text-center  fs-3">Main dans la main avec les maîtres de l'art, Nous tissons l'avenir des chefs-d'œuvre. Dans l'union de nos visions, l'excellence se révèle, Forgeant des partenariats aussi uniques que nos créations.</p>
            </div>
            <div class="card-footer text-center ">
              <small class="text-info fs-5">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card bg-transparent h-100">
            <img src="{{ asset('images/fondHome.jpg') }}" class="card-img-top img py-5" alt="...">
            <div class="card-body">
              <h5 class="card-title fs-2 text-warning fw-bold">Ensemble, façonnons l'avenir de l'art.</h5>
              <p class="card-text text-white text-center  fs-3">Main dans la main avec les maîtres de l'art, Ensemble, élevons le standard de la beauté, Et sculptons l'héritage de demain</p>
            </div>
            <div class="card-footer  text-center">
              <small class="text-info fs-5">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row d-flex justify-content-center align-items-center my-5">
            <div class="col">
                <a href="{{ path('about.index') }}" class="btn btn-warning  rounded-0 px-5 py-4">
                    VOIR PLUS
                </a>
            </div>
        </div>
    </div>
</div>
    <!-- Article Pub end-->
  </div>
</body>

{% endblock %}